<div class="flex flex-wrap items-start justify-start">
  <%= render 'shared/multi_select'%>
  <div class="mx-auto text-right my-4">
  <%= link_to new_conversation_path, class: "btn btn-primary" do %>
    Start a conversation with <%= @user.name%>
  <% end %>
  </div>
  <div class="mx-auto text-center my-4">
    <%= will_paginate @ids %>
  </div>

  <% @ids.each do |idea| %>
    <div class="mx-auto relative w-full p-6 border-2 border-green-700 rounded-lg lg:w-1/4 lg:mr-8">
      <%= image_tag idea.thumbnail.variant(resize_to_limit: [600, 400]), class: "rounded" if idea.thumbnail.present? %>
      <h2 class="mb-2 text-2xl font-bold"><%= uname? idea.user_id %>'s <%= idea.title %></h2>
      <div class="my-1"></div>
      available stake: <%= idea.stake %> %
      <div class="grid grid-cols-3 gap-4">
        <%= link_to 'View Project', idea, class: "btn btn-default border-2 border-green-700 text-gray-100 bg-gray-900 inline-block text-center my-2" %>
          <% if author_of(idea) %>
            <%= link_to 'Edit Project', edit_idea_path(idea), class: "btn btn-default border-2 border-green-700 text-gray-100 bg-gray-900 inline-block text-center my-2" %>
            <%= link_to 'Delete Project', idea, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default border-2 border-green-700 text-gray-100 bg-gray-900 inline-block text-center my-2" %>
          <%end%>
      </div>
    </div>
  <%end%>
  <div class="mx-auto text-center my-4">
    <%= will_paginate @ids %>
  </div>
</div>

